<template name="fixedFooter">
    <div class="footer">
        <div class="row-fluid">
            <div class="col-md-6">
                <p class="text-muted">&copy; Copyright 2014 Joe Lofshult. All Rights Reserved</p>
            </div>
            <div class="col-md-6">
                <table>
                    <tr><td>Follow Our Blog</td></tr>
                    <tr><td>Follow Us on Twitter</td></tr>
                    <tr><td>Like Us on Facebook</td></tr>
                </table>
            </div>

        </div>
    </div>
</template>
