<template name="myChores">
    <div class="container">
        <div class="row-fluid">
            <div class="col-xs-4 ui-sortable">
                <h1>Available Chores</h1>
                <div id="available-chores" class="ui-sortable">
                    {{#each tasks}}
                        {{> availableChore}}
                    {{/each}}
                </div>
            </div>
            <div class="col-xs-4 ui-sortable">
                <h1>My Chores</h1>
                <div id="mine">
                    {{#each mines}}
                        {{ >mine}}
                    {{/each}}
                </div>
            </div>
            <div class="col-xs-4 ui-sortable">
                <h1>Done Chores</h1>
                <div id="jar">
                    {{#each dones}}
                        {{ >done }}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</template>

<template name="options" >
        <span class="glyphicon glyphicon-edit" ></span>
        <span class="glyphicon glyphicon-remove-sign"></span>
</template>

<template name="availableChore">
   {{> task}}
</template>

<template name="mine">
    {{> task}}
</template>

<template name="done">
    {{> task}}
</template>

<template name="task">
    <div id="{{task_id}}" class="chore ui-state-default" draggable="true">
        <p>Task: {{task}}</p>
        <span>Value: {{value}}</span>

        <!--
        if user is a parent then add the edit and delete buttons
        <div style="float: right;">
            {{> options }}
        </div>
        -->
    </div>
</template>